* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    display: inline-block;
    padding-bottom: 5em;
    /* background-color: #fbf6f0; */
}

span {
    /* color: orangered; */
    font-size: 2em;
    position: relative;
    z-index: 1;
    font-weight: 100;
}

span:before {
    content: '';
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100vh;
    /* opacity: .5; */
}

img {
    width: 379px;
    height: 400px;
}

.inner_text h3 {
    text-align: left;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    padding: 2em;
    left: 0;
    right: 0;
    top: 40%;
    /* text-align: center; */
    width: 60%;
    background-color: azure;
    border-radius: 15px;
}

main {
    text-align: center;
    padding: 0 2em 0 2em;
}

.main1,
.main2,
.main3,
.main4,
.main5,
.main6,
.main7,
.main8,
.main9,
.main10 {
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    box-sizing: border-box;
    width: 50%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding: 2em 2em;
    background-color: #e0ece4;
    border-radius: 15px;
}

.main2,
.main4,
.main6,
.main8,
.main10 {
    flex-direction: row;
    padding: 2em 2em;
}

main h2 {
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #34626c;
    padding: 2em 0;
}

footer h2 {
    font-weight: bolder;
}

@media only screen and (max-width: 400px) {
    .hero {
        /* background-color: blue; */
        overflow: hidden;
        /* margin-top: 5em; */
    }
    .hero img {
        width: 100%;
    }
    main img {
        width: 200px;
        height: 200px;
    }
    main {
        width: 100%;
    }
    .inner_text h3 {
        /* top: 0; */
        font-size: 1em;
        width: 100%;
        border-radius: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        /* background-color: #0f3057; */
    }
}


/* .slides input {
    display: none;
} */